.header {
    width: 100%;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
.header--inner {  
    height: 100%;
    display: inline-flex;
    padding: 40px 100px 40px 100px;
    justify-items: center;
    align-items: center;
    gap: 30px;
}
.header__name, .form  { 
    flex: 1; 
 }
.header__name {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.6; 
    z-index: 1;
    color: rgba(0, 0, 0, 0.8); 
}
.header__name:hover {
    /* background: rgba(78, 1, 1, 0.7);  */
    background: rgba(71, 1, 1, 0.774); 
    /* background: rgba(223, 187, 163, 0.9);  */
    border-radius: 25% 0 25% 0;
    transition: background 0.5s ease-out;    
}
.form {
    flex-direction: column;
    align-items: stretch;
    box-shadow: none;
}
.form-input {
    margin: 15px 0 15px 0;
    padding: 20px 40px 20px 40px; 
    background: rgba(223, 198, 181, 1);
    border-style: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
    transition: background 0.3s ease;
}
.form-input:focus {
    border-style: none;
    outline: none;
    transform: scale(1.1);
    background: rgb(223, 198, 181);
}
.button__style {
    display: flex;
    flex: 1;
}
.form-button {
    margin-top: 15px;
    width: 50%;
    /* border: none; */
    padding: 20px 20px 20px 20px;
}
